.SortByDrop {
    font-size: 18px;
    background-color: #ffffff;
    border: 1px solid;
    float: left;
}

.PointDisplay {
    display:flexbox;
    text-align: center;    
    width: 75%;
    margin-left: 15%;
}

.ValueDisplay {
    display:flexbox;
    text-align: center;
}

.ArrowUp {
    color:green;
    float: left;
    text-align: center;
}

.ArrowDown {
    color:red;
    float: left;
}

.Reason {
    float:none;
}

.Date {
    float: right;
}