.SignupPage {
    font-family: Arial, Helvetica, sans-serif;
}
.Signup-Header {
    background-color: #e5e8f0;
}
.Signup-Box {
    text-align: left;
    outline: solid lightgray 1px;
    width:fit-content;
    margin: auto;
    line-height: 1;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    
}
.login_displaybox {
    padding-bottom: 0px;
    color: rgb(235, 31, 31);
}
.Seperate-SI-UN {
    display: block;
}
.LoginButton {
    float: right;
    text-align: center;
    border-radius: 8px;
    width:10px;
    height: 10px;
    border: 2px solid lightgray;
}
