.SponsorCatPage {
    font-family: Arial, Helvetica, sans-serif;
}
.SponsorCat-Header {
    background-color: #e5e8f0;
}
.Nav {
    text-align: center;   
    margin: -70px;
}
.NavButtons {
    font-size: 18px;
    background-color: #ced4e3;
    border: none;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    text-align: center;
    margin: 20px;
    padding: 5px 10px;
    display: inline-block;  
}
.NavButtons:hover {
    background-color:  #bec6da;
}
.NavButtons:active {
    background-color: #bec6da;
    transform: translateY(4px);
}

.SponsorCatLout-UpAcc {
    list-style-type: none;
    text-decoration: none;
    font-size: 17px;
}

.SponsorCatLout-UpAcc li {
    float: right;
}

.SponsorCatLout-UpAcc a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color:black;
} 

.SponsorCatLout-UpAcc img {
    float: right;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
}

.EditButtons {
    margin-top: 90px;
    margin-left: 20px;
    
}

.EditButtonsStyle {
    border-radius: 8px;
    border: 2px solid lightgray;
    width:150px;
    height:30px;
    display: block;
    margin-bottom: 20px;
}

.SponsorCat-Footer {
    background-color: #e5e8f0;
    position: absolute;
    bottom: 0;
    height: auto;
    padding: 0px 5px 0px 5px;
    width: 100%;
}

.SponsorCat-Footer button{
    float: right;
    height: auto;
    bottom: 0;
}

.SponsorCat-Footer img {
    float: left;
    bottom: 0;
    position: absolute;
}

.DriverView {
    font-size: 18px;
    background-color: #ced4e3;
    border: none;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    text-align: right;
    margin: 40px;
    padding: 5px 10px;
    display: inline-block;
}