.UpdateAcc-Body {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.inputs {
    line-height: 25px;
}

.saveChanges {
    border-radius: 8px;
    width: 30%;
    height: 25px;
    border: 2px solid lightgray;
    float: right;
}

.saveChanges:hover {
    border: 2px solid gray;
}

.saveChanges:active {
    border: 2px solid darkgray;
}